@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500&family=Sora:wght@600;700;900&display=swap");

@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --bg-color: #fafafa;
  --bg-color-secondary: #202028;
  --text-main: #1a1a1a;
  --text-muted: #666666;
  --accent-soft: #f0edff;
  --accent-purple: #9d8df1;
  --border-color: #e5e5e5;
}

.dark {
  --bg-color: #1a1a1a;
  --bg-color-secondary: #222222;
  --text-main: #fafafa;
  --text-muted: #666666;
  --accent-soft: #1e293b;
  --accent-purple: #9d8df1;
  --border-color: #333333;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  letter-spacing: -0.01em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
